:root {
    --clr-primary-300: hsl(146, 81%, 75%);
    --clr-primary-400: hsl(146, 81%, 55%);

    --clr-secondary-400: hsl(245, 72%, 59%);

    --clr-neutral-100: hsl(0, 0%, 99%);
    --clr-neutral-200: hsl(0, 0%, 96%);
    --clr-neutral-300: hsl(0, 0%, 88%);
    --clr-neutral-400: hsl(0, 0%, 50%);
    --clr-neutral-600: hsl(216, 43%, 17%);
    --clr-neutral-900: hsl(222, 43%, 9%);

    --ff: 'Poppins', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;

    --fs-300: 0.75rem;
    --fs-400: 1rem;
    --fs-500: 1.75rem;
    --fs-600: 2rem;
    --fs-700: 2.625rem;
    --fs-800: 3.5rem;

    --fs-primary-heading: var(--fs-600);
    --fs-secondary-heading: var(--fs-500);
    --fs-body: var(--fs-400);
    --fs-nav: var(--fs-400);
    --fs-button: var(--fs-400);

    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;
}

@media (min-width: 50em) {
    :root {
        --fs-primary-heading: var(--fs-700);
        --fs-secondary-heading: var(--fs-600);
        --fs-body: var(--fs-400);
        --fs-button: var(--fs-400);
    }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styling */

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--fs-body);
    font-family: var(--ff);
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);
}

p:not([class]) {
    max-width: 76ch;
}

/* Scroll up */

#progress {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--clr-neutral-100);
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 60px;
    aspect-ratio: 1 / 1;
    border-radius: 100vw;
    z-index: 999;
    transition: 500ms;
}

#progress:hover,
#progress:focus-visible {
    transform: scale(1.2);
}

#progress-value {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcfcfc25;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    border-radius: 100vw;
    font-size: 24px;
}

#progress-value i {
    display: flex;
    transition: 500ms;
}

#progress:hover #progress-value i,
#progress:focus-visible #progress-value i {
    transform: translateY(-6px);
}

@media (max-width: 50em) {
    #progress {
        bottom: 5%;
        right: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    #progress:hover,
    #progress:focus-visible {
    transform: scale(1);
    }

    #progress:hover #progress-value i,
    #progress:focus-visible #progress-value i {
        transform: translateX(-50%), translateY(0);
    }

}

/* Button */

.button-container {
    display: flex;
    gap: var(--size-700);
}



.button {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    isolation: isolate;
    overflow: hidden;

    width: min(180px, 220px);
    cursor: pointer;
    margin-top: var(--size-400);
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    padding: 1.2rem 2.2rem;
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-button);
    line-height: 1;
    color: var(--clr-neutral-900);
    background-color: var(--clr-primary-400);
    transition: all 0.4s;
}

@media (max-width: 50em) {
    .button-container {
        flex-direction: column;
        gap: var(--size-400);
        width: 100%;
    }

    .button {
        width: 100%;
    }

}

.button::before,
.button::after {
    content: '';

    position: absolute;
    inset: 0;
    background-color: var(--clr-neutral-100);
    transform: scale(0);
    border-radius: 100vw;
}

.button::before {
    z-index: -2;
    opacity: 0.5;

    transition: all 400ms;
}

.button::after {
    z-index: -1;

    transition: all 800ms;
}

.button[data-type="inverted"] {
    color: var(--clr-neutral-100);
    background-color: transparent;
    outline: 1px solid var(--clr-neutral-100);
    outline-offset: -1px;
}

.button i {
    overflow: hidden;
    opacity: 0;
    width: 0;
    transition: 700ms;
    color: #0d1321;
}

.button:hover i {
    overflow: visible;
    opacity: 1;
    width: 16px;
    margin-left: 10px;
}

.button:hover::before,
.button:focus-visible::before,
.button:hover::after,
.button:focus-visible::after {
    transform: scale(1.2);
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
    color: var(--clr-neutral-900);
}

.submit-button {
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.05);
    outline: 1px solid transparent;
    outline-offset: -1px;

    transition: all 400ms;
}

.submit-button:hover {
    outline: 1px solid var(--clr-neutral-300);
    outline-offset: -1px;
}

.reset-button[data-type="inverted"] {
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.05);
    color: #0d1321;
    outline-color: var(--clr-neutral-300);
}

/* Navigation */

.menu {
    cursor: pointer;
    border: none;
    background: transparent;
    z-index: 100;
}

.menu .top {
    transform: translateY(-18px);
}

.menu .bottom {
    transform: translateY(18px);
}

.menu .line {
    transition:
        transform 400ms,
        rotate 400ms,
        stroke 400ms
        ;
    transform-origin: center;
}

.menu[aria-expanded="true"] .line {
    transition:
        transform 400ms,
        rotate 400ms,
        stroke 400ms
        ;
    transform-origin: center;
}

.menu[aria-expanded="true"] :is(.top, .bottom) {
    transform: translateY(0);
}

.menu[aria-expanded="true"] .top {
    rotate: 40deg;
}

.menu[aria-expanded="true"] .bottom {
    rotate: -40deg;

}

.header {
    position: fixed;
    inset-inline: 0;
    /* margin-top: var(--size-700); */
    padding-block: var(--size-700);
    z-index: 999;
}

.header a {
    text-decoration: none;
    color: var(--clr-neutral-100);
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-button {
    display: none;
}

.nav-list {
    display: flex;
    gap: clamp(var(--size-400), 5vw, var(--size-800));
    font-size: var(--fs-nav);
    font-weight: var(--fw-regular);
}

.nav-list a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--clr-neutral-100);
}

.nav-list a:hover,
.nav-list a:focus-visible {
    color: var(--clr-primary-400);
}

.contact-container-header {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: var(--size-900);
    color: var(--clr-neutral-900);
    text-transform: uppercase;

    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sm-container {
    display: flex;
    gap: var(--size-400);
    margin-top: var(--size-400);
    font-size: var(--fs-400);
}

.sm-container i {
    cursor: pointer;
}

.sm-container i:hover,
.sm-container i:focus-visible {
    color: var(--clr-primary-400);
}

@media (max-width: 50em) {
    .header {
        position: fixed;
        width: 100%;
    }

    .hamburger-button {
        display: block;
    }

    .navigation {
        display: none;

        position: fixed;
        inset: 0;
        background-color: var(--clr-neutral-100);
    }

    .nav-list {
        display: grid;
        gap: var(--size-600);
        text-align: center;
        justify-content: space-between;

        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .nav-list a {
        color: var(--clr-neutral-900);
    }

    .navigation[data-visible] {
        display: block;
    }

    .contact-container-header {
        display: flex;
    }
}

/* CTA */

.cta .even-columns div:nth-child(1) {
    grid-column: span 2;
}

@media (max-width: 50em) {
    .cta {
        text-align: center;
    }

    .cta .even-columns div:nth-child(1) {
        grid-column: auto;
    }
}

/* Request page */

.request-container {
    padding: var(--size-700) var(--size-600);
    border-radius: 8px;
}

.title {
    --title-margin: var(--size-900);

    position: relative;
    margin-bottom: var(--title-margin);
}

.title:not(:first-child) {
    margin-block: var(--size-900);
}

.title::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -16px;
    width: 100%;
    height: 1px;
    background-color: var(--clr-neutral-900);
    opacity: 0.3;
}

.fields {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: var(--size-600);
}

.input-field {
    display: flex;
    flex-direction: column;
}

.input-field input,
.input-field select {
    outline: none;
    border: 1px solid var(--clr-neutral-300);
    margin-block: var(--size-400);

    height: 60px;
    border-radius: 8px;
    padding-inline: var(--size-500);
}

.input-field textarea {
    outline: none;
    border: 1px solid var(--clr-neutral-300);
    margin-block: var(--size-400);

    border-radius: 8px;
    padding-inline: var(--size-500);
}

.input-field input:focus,
.input-field select:focus,
.input-field textarea:focus {
    border: 1px solid var(--clr-neutral-400);
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.05);
}

.input-field input::placeholder {
    color: var(--clr-neutral-400);
    font-size: var(--fs-400);

}

.textarea {
    resize: none;
    grid-column: auto;

    padding-block: var(--size-400);
}

@media (min-width: 600px) {
    .request-container {
        padding: var(--size-700) var(--size-900);
    }
}

@media (min-width: 768px) {
    .fields {
        grid-template-columns: 1fr 1fr;
        gap: var(--size-700) var(--size-900);
    }

    .textarea {
        grid-column: span 2;
    }
}

@media (min-width: 1200px) {
    .fields {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--size-700) var(--size-900);
    }

    .textarea {
        grid-column: span 3;
    }
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: transparent;
  outline: none;
  border: 1px solid var(--clr-neutral-300);
  margin-block: var(--size-400);
  border-radius: 8px;
  padding-inline: var(--size-500);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 46%;
  right: var(--size-500);
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--clr-neutral-900) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--clr-primary-400) transparent;
  top: 34%;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  padding-inline: var(--size-500);
  color: var(--clr-neutral-900);
  height: 60px;
  max-height: 60px;
  padding-block: var(--size-400);
  border-bottom: 1px solid var(--clr-neutral-300);
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--clr-neutral-100);
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.05);
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(49, 233, 129, 0.1);
}


/* Checkbox */

.checkbox-input {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;

	&:checked + .checkbox-tile {
		border-color: #2260ff;
		box-shadow: 0 5px 10px rgba(#000, 0.1);
		color: #2260ff;
		&:before {
			transform: scale(1);
			opacity: 1;
			background-color: #2260ff;
			border-color: #2260ff;
		}
		
		.checkbox-icon, .checkbox-label {
			color: #2260ff;
		}
	}
	
	&:focus + .checkbox-tile {
		border-color: #2260ff;
		box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;
		&:before {
			transform: scale(1);
			opacity: 1;
		}
	}
}

.checkbox-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 7rem;
	min-height: 7rem;
	border-radius: 0.5rem;
	border: 2px solid #b5bfd9;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(#000, 0.1);
	transition: 0.15s ease;
	cursor: pointer;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 1.25rem;
		height: 1.25rem;
		border: 2px solid #b5bfd9;
		background-color: #fff;
		border-radius: 50%;
		top: 0.25rem;
		left: 0.25rem;
		opacity: 0;
		transform: scale(0);
		transition: 0.25s ease;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
		background-size: 12px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	&:hover {
		border-color: #2260ff;
		&:before {
			transform: scale(1);
			opacity: 1;
		}
	}
}

.checkbox-label {
	color: #707070;
	transition: .375s ease;
	text-align: center;
    font-size: 36px;
}






/* @media (min-width: 600px) {

}  

@media (min-width: 768px) {

}  

@media (min-width: 1200px) {
    
} */



/* Footer */

footer {
    position: absolute;
    inset: auto 0;
}

@media (min-width: 50em) {
    .sm-container-footer {
        margin: 0;
    }
}

/* Utility classes */

.centering-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.container {
    --max-width: 90%;
    --padding: 1rem;

    width: min(var(--max-width), (100% - var(--padding) * 2));
    margin-inline: auto;
    overflow: hidden;
}

.even-columns {
    display: grid;
    gap: 1rem;
}

@media (min-width: 50em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.vertical-align-center {
    align-items: center;
}

.justify-self-center {
    justify-self: center;
    text-align: center;
}

@media (min-width: 50em) {
    .justify-self-center {
        text-align: left;
    }

    .justify-self-end {
        justify-self: end;
    }
}

:where(.flow :not(:first-child)) {
    margin-top: var(--flow-spacer, 1em);
}

.text-align-center {
    text-align: center;
}

.text-primary-400 {
    color: var(--clr-primary-400);
}

.text-secondary-400 {
    color: var(--clr-secondary-400);
}

.text-neutral-100 {
    color: var(--clr-neutral-100);
}

.text-neutral-900 {
    color: var(--clr-neutral-900);
}

.bg-primary-400 {
    background-color: var(--clr-primary-400);
}

.bg-secondary-400 {
    background-color: var(--clr-secondary-400);
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}

.bg-neutral-900 {
    background-color: var(--clr-neutral-900);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 1.5;
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
    line-height: 1.2;
}

.fs-300 {font-size: var(--fs-300);}
.fs-400 {font-size: var(--fs-400);}
.fs-500 {font-size: var(--fs-500);}
.fs-600 {font-size: var(--fs-600);}
.fs-700 {font-size: var(--fs-700);}

.padding-block-small {
    padding-block: var(--size-600);
}

@media (max-width: 50em) {
    .padding-block-large[data-small=""] {
        padding-block: var(--size-600);
    }
}

.padding-block-midum {
    padding-block: var(--size-700);
}

.padding-block-large {
    padding-block: var(--size-900);
}

.display-sm-none {
    display: none;
}

@media (min-width: 50em) {
    .display-md-inline-block {
        display: inline-block;
    }
}

/* Animation */

.slide-in {
    opacity: 0;

    transform: translateX(-6rem);
    transition: all 1000ms ease-in-out;
}

.slide-in-span {
    opacity: 0;

    transform: translateX(-6rem);
    transition: all 1000ms ease-in-out;
    transition-delay: 2000ms;
}

.slide-in1 {
    opacity: 0;

    transform: translateX(-6rem);
    transition: all 1000ms ease-in-out;
    transition-delay: 500ms;
}

.slide-in2 {
    opacity: 0;

    transform: translateX(-6rem);
    transition: all 1000ms ease-in-out;
    transition-delay: 1000ms;
}

.slide-in3 {
    opacity: 0;

    transform: translateX(-6rem);
    transition: all 1000ms ease-in-out;
    transition-delay: 1500ms;
}

.slide-in-right {
    opacity: 1;

    transform: translateX(0);
}

/* View transition */

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


::view-transition-old(root) {
    animation: fade-out 400ms cubic-bezier(0, 0, 0.2, 1),
        slide-to-bottom 400ms cubic-bezier(0, 0, 0.2, 1);
}

::view-transition-new(root) {
    animation: fade-in 400ms cubic-bezier(0, 0, 0.2, 1),
        slide-to-top 400ms cubic-bezier(0, 0, 0.2, 1);
    mix-blend-mode: normal;    
}